path_to_cap=...Справочные данные\Класс маршрута.xlsx
path_to_coefs=...Справочные данные\Коэффициенты за все этапы.xlsx
path_to_dists=...Справочные данные\dists(1).xlsx
path_to_holidays = ...holidays.xlsx
path_to_apps= ...AGG_NUM\Проверка ДСADD_NUMBER ГКAGG_NUM\Приложения

plans=...Проверки ДС к ГК\AGG_NUM\Проверка ДСADD_NUMBER ГКAGG_NUM\ГКAGG_NUM ДСADD_NUMBER.xlsx
routes=...Справочные данные\Принадлежность к ГК.xlsx

path_to_results=...results

START_DATE =
END_DATE =